# Streamlit secrets example
APP_USER = "admin"
# sha256("your_password")
APP_PASSWORD_SHA256 = ""
AWS_REGION = "us-east-1"
TS_DB = "chamber"
TS_TABLE_TELEMETRY = "telemetry"
TS_TABLE_EVENTS = "events"
